@import url("./normalize.css");
@import url("./variables.css");
@import url("./fonts.css");


.header_container {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-dark-1);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_container {
    max-width: var(--content-width);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_item {
    font-size: 2rem;
    height: 1em;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 0.4em;
}

.logo_item__icon {
    width: auto;
    height: 1em;
    margin-right: 0.5em;
}

.logo_item__text {
    color: var(--color-white);
    margin-bottom: -0.2em;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: var(--letter-spacing-text);
}


.links_section {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.links_section__link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    border-radius: 1em;
    padding: 1em;
    opacity: var(--default-opacity);
    transition-duration: var(--duration-2);
}

.links_section__link_container:hover {
    background-color: var(--color-dark-3);
    opacity: var(--hover-opacity);
}

.links_section__link_container:active {
    background-color: var(--color-dark-4);
    opacity: var(--active-opacity);
}

.links_section__link_container__icon {
    width: 100%;
    height: auto;
}


.main_container {
    width: 100%;
    height: 100vh;
    margin-top: var(--main-margin-top);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_ {
    width: 100%;
    height: 100vh;
}

.main_section {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_section__title {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: var(--h1-font-size);
    font-weight: 400;
    user-select: none;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.platforms_section {
    font-size: 0.8rem;
    width: 100%;
    max-width: var(--platforms-section-width);
    margin-top: var(--platforms-section-margin-top);
}

.platforms_section__item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.platforms_section__item__left {
    position: relative;
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5em;
}

.platforms_section__item__left::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 0.25em;
    height: 100%;
    background-color: var(--color-dark-4);
}

.platforms_section__item__left__icon {
    width: 80%;
    height: auto;
}

.platforms_section__item__right {
    position: relative;
    background-color: transparent;
    width: 50%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    color: var(--color-white);
}

.platforms_section__item__right__text {
    font-family: 'HindMadurai', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    user-select: none;
}

.platforms_section__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 1em;
    background-image: var(--gradient-accent-90deg);
    transition-duration: var(--duration-2);
}

.platforms_section__item__link:hover {
    filter: brightness(var(--brightness-hover));
}

.platforms_section__item__link__text {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 2em;
    font-weight: 400;
    user-select: none;
    color: var(--color-dark-1)
}

.platforms_section__item__link__icon {
    width: 2em;
    height: auto;
    margin-left: 1em;
}

.contacts_section {
    font-size: 0.8rem;
    position: fixed;
    height: 5em;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    user-select: none;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 1em;
    transition-duration: var(--duration-2);
}

.contacts_section:hover {
    background-color: var(--color-dark-3);
}

.contacts_section:active {
    background-color: var(--color-dark-4);
}

.contacts_section__icon {
    width: 3em;
    height: auto;
}

.contacts_section__text {
    font-family: 'HindMadurai', sans-serif;
    letter-spacing: 1%;
    font-size: 2.25em;
    font-weight: 300;
    color: var(--color-white);
}
