@import url("./fonts.css");

:root {
  --header-height: 60px;

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.header_container {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: #080808;
}

.content_container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_item {
  display: flex;
  height: var(--header-height);
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.logo_item__icon {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.logo_item__text {
  color: #ffffff;
  margin-bottom: -4px;
  font-family: 'Epilogue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2%;
}


.links_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.links_section__link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
}

.links_section__link_container:hover {
  background-color: #202020;
  transition: background-color 0.3s ease;
}

.links_section__link_container:active {
  background-color: #323232;
  transition: background-color 0.3s ease;
}

.links_section__link_container__icon {
  width: 100%;
  height: auto;
}


.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_{
  width: 100%;
  height: 100vh;
}

.main_section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main_section__title {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 48px;
  font-weight: Regular;
  user-select: none;
}

.main_section__motto {
  font-family: 'HindMadurai', sans-serif;
  font-size: 16px;
  font-weight: Light;
  user-select: none;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.platforms_section {
  width: 100%;
  max-width: 480px;
  margin-top: 96px;
}

.platforms_section__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 20px;
}

.platforms_section__item__left {
  position: relative;
  background-color: #161616;
  width: 40%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.platforms_section__item__left::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 2px;
  height: 64%;
  background-color: #323232;
}

.platforms_section__item__left__icon {
  width: 100%;
  height: auto;
}

.platforms_section__item__right {
  position: relative;
  background-color: #161616;
  width: 60%;
  height: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
}

.platforms_section__item__right__text {
  font-family: 'HindMadurai', sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
}

.contacts_section {
  position: fixed;
  height: 40px;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  user-select: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

.contacts_section:hover {
  background-color: #202020;
  transition: background-color 0.3s ease;
}

.contacts_section:active {
  background-color: #323232;
  transition: background-color 0.3s ease;
}

.contacts_section__icon {
  width: 20px;
  height: auto;
}

.contacts_section__text {
  font-family: 'HindMadurai', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
